.selector {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 12px;
  color: var(--schemx-text-color);

  .option {
    position: relative;
    min-width: 65px;
    padding: 4px 12px;
    border-radius: 4px;
    background: var(--schemx-background-color-light);
    color: inherit;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .active {
    background: var(--schemx-primary-color-light);
    color: var(--schemx-primary-color);
  }
}

.selector-disabled {
  color: var(--schemx-disabled-color);
}
