/**
 * Group 组件样式
 */

.schemx-group-wrapper {
  position: relative;
  margin-bottom: var(--schemx-padding-sm);
  background-color: var(--schemx-background-color);
  padding-inline: var(--schemx-padding-md);
  border-radius: var(--schemx-border-radius-md);
}

.schemx-group-wrapper .schemx-group-wrapper {
  padding-inline: var(--schemx-padding-sm);
}

.schemx > .schemx-group-wrapper:last-child,
.schemx > .schemx-group-wrapper:has(+ .schemx-actions) {
  margin-bottom: 0;
}

.schemx-group {
}

.schemx-group__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--schemx-padding-md);
  user-select: none;
}
.schemx-group__header--clickable {
  cursor: pointer;
}

.schemx-group__title {
  font-size: var(--schemx-font-size-lg);
  font-weight: 500;
  color: var(--schemx-text-color);
}

.schemx-group__arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: var(--schemx-group-arrow-size) solid transparent;
  border-right: var(--schemx-group-arrow-size) solid transparent;
  border-bottom: var(--schemx-group-arrow-size) solid var(--schemx-text-color-secondary);
  transition: transform var(--schemx-group-arrow-duration) ease;
}

.schemx-group__arrow--down {
  transform: rotate(180deg);
}

.schemx-group__body > .schemx-field-wrapper:last-child .schemx-field:after {
  display: none;
}

.schemx-group__body > .schemx-field-wrapper > .schemx-field {
  padding-inline: var(--schemx-padding-xs);
}
