/**
 * FormItem 组件样式
 */

.schemx-item-wrapper {
  position: relative;

  background-color: var(--schemx-background-color);
}

.schemx-item-wrapper--first {
  border-top-left-radius: var(--schemx-border-radius-md);
  border-top-right-radius: var(--schemx-border-radius-md);
}

.schemx-item-wrapper--last {
  border-bottom-left-radius: var(--schemx-border-radius-md);
  border-bottom-right-radius: var(--schemx-border-radius-md);
  /* margin-bottom: var(--schemx-padding-sm); */
}

.is-disabled {
  opacity: 0.65;
}

.is-readonly {
  opacity: 1;
}

.schemx-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-inline: var(--schemx-padding-md);
  padding-block: var(--schemx-padding-md);
  line-height: var(--schemx-item-line-height);
  gap: var(--schemx-item-gap);
}

.schemx-item:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  right: var(--schemx-padding-md);
  bottom: 0;
  left: var(--schemx-padding-md);
  border-bottom: 1px solid var(--schemx-border-color);
  transform: scaleY(0.5);
}

.schemx-item-wrapper--last .schemx-item:after {
  display: none;
}

/**
 * label 位置：左侧（默认）
 */
.schemx-item--label-left {
  flex-direction: row;
}

/**
 * label 位置：右侧
 */
.schemx-item--label-right {
  flex-direction: row-reverse;
}

.schemx-item--label-right .schemx-item__label {
  margin-right: 0;
  margin-left: var(--schemx-padding-xs);
}

/**
 * label 位置：顶部
 */
.schemx-item--label-top {
  flex-direction: column;
}

.schemx-item--label-top .schemx-item__label {
  margin-right: 0;
  margin-bottom: var(--schemx-item-label-top-gap);
  width: auto;
}

/**
 * Label 样式
 */
.schemx-item__label {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--schemx-item-label-color);
  font-size: var(--schemx-font-size-md);
  margin-right: var(--schemx-padding-xs);
  line-height: var(--schemx-item-line-height);
}

.schemx-item__required {
  color: var(--schemx-danger-color);
  margin-right: var(--schemx-item-required-gap);
  position: absolute;
  top: 2px;
  left: -8px;
}

/**
 * 内容区域
 */
.schemx-item__content {
  flex: 1;
  min-width: 0;
  max-width: 70%;
  padding: 0 var(--schemx-item-content-padding-inline);
}

.schemx-item__control {
  text-align: var(--schemx-content-align);
}

.schemx-item__control .schemx-renderer {
  width: 100%;
}

.schemx-item__error {
  color: var(--schemx-danger-color);
  font-size: var(--schemx-font-size-sm);
  text-align: var(--schemx-error-align, right);
  line-height: var(--schemx-item-error-line-height);
  margin-top: var(--schemx-item-error-gap);
}

.schemx-item--label-top > .schemx-item__content {
  box-sizing: border-box;
  width: 100%;
  max-width: none;
}
